.tooltip-container {
  position: relative;
  margin: 0 auto;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  width: 100px;
  font-size: small;
  background-color: #333;
  color: #fff;
  text-align: center;
  border: solid 1px white;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -50px;
  transition: ease-in-out;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  transition: ease-in-out;
  transition: 500ms;
}
