.home {
    font-size: 3vw;
    padding: 150px;
  }
  .social {
    margin: 5px 20px;
    font-size: 5vw;
  }
  
  @media screen and (max-width: 620px) {
    .home {
      padding: 50px;
      width: 100%;
    }
    .social {
      margin: 2px 10px;
    }
  }
  