@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Source+Sans+Pro&display=swap");
html,
body {
  color: #f1f6f9;
  text-rendering: optimizeLegibility;
}
html {
  height: 100%;
}
body {
  display: flex;
  word-wrap: break-word;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,
    #22223b,
    #2c2c46,
    #353752,
    #40435d,
    #4a4e69
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  flex-wrap: wrap;
  font-weight: 300;
  max-width: 500px;
  word-wrap: break-word;
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
div,
button,
h1,
h2 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 200;
}

p,
li,
ul,
pre,
a,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;

  font-weight: 200;
}
a {
  text-decoration: none;
  color: unset;
}
hr {
  margin: 20px 5px;
}
header {
  background-color: red;
  width: 100%;
}
footer {
  text-align: center;
  padding: 30px;
}

@media screen and (max-width: 620px) {
  div,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  }
  p,
  li,
  ul,
  pre,
  a {
  }
  hr {
    margin: 10px 2px;
  }

  .main {
    padding: 10px;
  }
}
