@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Source+Sans+Pro&display=swap");
html,
body {
  margin: 0;
  color: #f1f6f9;
  text-rendering: optimizeLegibility;
  background: linear-gradient(#111111, #323a4e) no-repeat fixed center;
  background-size: cover;
}
.main {
  flex-wrap: wrap;
  font-weight: 300;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
div,
button,
h1,
h2 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 200;
}

p,
li,
ul,
pre,
a,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;

  font-weight: 200;
}
a {
  text-decoration: none;
  color: unset;
}
hr {
  margin: 20px 5px;
}
footer {
  text-align: center;
  padding: 30px;
}
.sidenav {
  padding: 30px 30px 30px 30px;
  z-index: 99;
  position: fixed;
  bottom: 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}
#hr {
  background-color: #c80000;
  color: #c80000;
  position: absolute;
  width: 100px;
  height: 2px;
  left: 0px;
  top: -70px;

  -webkit-transform: rotate(90deg);
}
@media screen and (max-width: 620px) {
  div,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  }
  p,
  li,
  ul,
  pre,
  a {
  }
  hr {
    margin: 10px 2px;
  }

  .main {
    padding: 10px;
  }
  .sidenav {
    padding-top: 15px;
    
  }
  .sidenav a {
    font-size: 18px;
  }
}