article {
  width: auto;
  border: solid 2px white;
  border-radius: 10px;
  padding-inline: 10vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  backdrop-filter: blur(1px);
}
.image-card {
  margin-top: 75px;
  max-width: calc(100% - 100px);
  max-height: 300px;
  height: auto;
  display: block;
  margin-inline: auto;
  border-radius: 10px;
}
article button {
    margin-top: 30px;
    width: 50px;
    height: 50px;
    font-size: larger;
}
@media screen and (max-width: 420px) {
    article {
        padding: 10px;
        margin: 0
    }
    .image-card {
        width: 100%;
        padding: 0;
    }
}